@model IEnumerable<Library_management2.Models.Transaction>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BookTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TransStatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TansDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Book.BookTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Transactions1.BookTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Transaction1.BookTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User.UserName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BookTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TransStatus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TansDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Book.BookTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Transactions1.BookTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Transaction1.BookTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User.UserName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TransID }) |
            @Html.ActionLink("Details", "Details", new { id=item.TransID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TransID })
        </td>
    </tr>
}

</table>
